PORT=3000

GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json

STORAGE_BUCKET_URL=<project_id>.firebasestorage.app

JWT_SECRET=<secret-key>

CLOUDINARY_CLOUD_NAME=<product-environment-name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloudinary-api-secret>

CORS_WHITELIST_1=https://
CORS_WHITELIST_2=https://